extends layout

block content
    h1.text-center=title
    if(comments) 
        each comment in comments
            ul
                li.card
                    div.card-header.d-flex
                        div.text-reset
                            h2.fs-4.card-title=comment.title
                            h3.fs-6.card-subtitle=comment.user.username
                            div.fs-6.card-subtitle=comment.date_formatted
                        if(currentUser && currentUser.isAdmin === true)
                            div.flex-grow-1.text-end
                                a.text-decoration-none.fs-6(href=comment.remove_comment) Remove Comment
                    p.text-reset.fs-6.card-text.p-2=comment.message
    if(currentUser)
        a.text-center(href=currentForum.add_comment_url)
            button.btn.btn-primary Add a comment
    else 
        div.text-warning.text-center You must be signed in to view this page