extends layout

block content
    h1.text-center=title
    if(comments) 
        each comment in comments
            ul
                li.card
                div.card-header.d-flex.flex-column
                    h2.fs-4.card-title=comment.title
                    h3.fs-6.card-subtitle=comment.user.username
                    div.fs-6.card-subtitle=comment.date
                p.text-reset.fs-6.card-text.p-2=comment.message
    if(currentUser)
        div.text-center No Comments yet! Be the First!
        a.text-center(href=forumAddComment)
            button.btn.btn-primary Add a comment
    else 
        div.text-warning.text-center You must be signed in to view this page