extends layout

block content
  h1=title
  if(currentUser)
    div Welcome Back #{currentUser.first_name} #{currentUser.last_name}!
  else
    p Leave your message too!
  if(comments)
    each comment in comments
      ul
        li
          h2=comment.title
          h3=comment.user.username
          h4=comment.date
          p=comment.message
  if(currentUser)
    a(href=currentUser.url)
      button Add a comment
  else
    p You must sign in to leave a comment!  
    a(href="/sign-in") 
      button.btn.btn-primary Sign in
    p Don't have an account? 
    a(href="/sign-up") 
      button.btn.btn-primary Sign up
       
