extends layout

block content
  if(currentUser)
    div.fs-5.text-center Welcome Back #{currentUser.first_name} #{currentUser.last_name}!
  else
    div.fs-3.text-center Leave your message too!
  if(comments)
    each comment in comments
      ul
        li.card
          div.card-header.d-flex
            div.text-reset
              h2.fs-4.card-title=comment.title
              h3.fs-6.card-subtitle=comment.user.username
              div.fs-6.card-subtitle=comment.date_formatted
            if(currentUser && currentUser.isAdmin === true)
              div.flex-grow-1.text-end
                a.text-decoration-none.fs-6(href="") Remove Comment
          p.text-reset.fs-6.card-text.p-2=comment.message
  else
    div.fs-4 No comments yet, be the first!
  if(currentUser)
    a.text-center(href=currentUser.url)
      button.btn.btn-primary Add a comment
  else
    div.container.text-center.d-flex.justify-content-around
      div
        p You must sign in to leave a comment!  
        a(href="/sign-in") 
          button.btn.btn-primary Sign in
      div
        p Don't have an account? 
        a(href="/sign-up") 
          button.btn.btn-primary Sign up
       
